.header-icon {
    width: 3em;
    height: 3em;
    vertical-align: -1em;
    fill: currentColor;
    overflow: hidden;
}

.table-icon {
    width: 3em;
    height: 3em;
    vertical-align: -1.95em;
    fill: currentColor;
    overflow: hidden;
}

.table-icon-small {
    width: 1.5em;
    height: 1.5em;
    vertical-align: -0.5em;
    fill: currentColor;
    overflow: hidden;
}
.el-dropdown-button {
    padding: 0px;
}

.header-grid-content{
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 4px;
    background: #f0f2f5;
}

.dotClass {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;
    margin-left: 10px;
}

// .demo-pagination-block {
//     margin-top: 5px;
//     margin-bottom: 5px;
//     padding-left: 10px;
// }